# This is the data cleaning Notebok for the project

In [208]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from datetime import datetime

In [209]:
df = pd.read_excel("./marketing_data.xlsx")

## Data Profiling

## Data Preprocessing

In [210]:
# Converting year of birth into age
current_year = datetime.now().year
df['Age'] = current_year - df['Year_Birth']
print(df[['Age', 'Year_Birth']])
print(df['Age'].unique())

      Age  Year_Birth
0      54        1970
1      63        1961
2      66        1958
3      57        1967
4      35        1989
...   ...         ...
2235   48        1976
2236   47        1977
2237   48        1976
2238   46        1978
2239   55        1969

[2240 rows x 2 columns]
[ 54  63  66  57  35  70  77  45  65  43  55  47  64  58  48  59  68  49
  53  38  52  50  34  37  40  56  69  41  51  46  72  62  60  42  61  67
  44  79  75  76  71  78  39  32  80  73  36  74  30  31  33 131  28  29
 125  81  83  84 124]

In [211]:
# Fixing the format for Dt_customer
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='mixed')
print(df.shape)
df = df[(df['Dt_Customer'].dt.year - df['Year_Birth']) > 18]
print(df.shape)
df['Dt_Customer'] = df['Dt_Customer'].astype(str)
print(df)

(2240, 23)
(2234, 23)
         ID  Year_Birth   Education Marital_Status   Income  Kidhome  \
0      1826        1970  Graduation       Divorced  84835.0        0
1         1        1961  Graduation         Single  57091.0        0
2     10476        1958  Graduation        Married  67267.0        0
3      1386        1967  Graduation       Together  32474.0        1
4      5371        1989  Graduation         Single  21474.0        1
...     ...         ...         ...            ...      ...      ...
2235  10142        1976         PhD       Divorced  66476.0        0
2236   5263        1977    2n Cycle        Married  31056.0        1
2237     22        1976  Graduation       Divorced  46310.0        1
2238    528        1978  Graduation        Married  65819.0        0
2239   4070        1969         PhD        Married  94871.0        0

      Teenhome Dt_Customer  Recency  MntWines  ...  MntSweetProducts  \
0            0  2014-06-16        0       189  ...               189
1            0  2014-06-15        0       464  ...                 0
2            1  2014-05-13        0       134  ...                 2
3            1  2014-11-05        0        10  ...                 0
4            0  2014-08-04        0         6  ...                 0
...        ...         ...      ...       ...  ...               ...
2235         1  2013-07-03       99       372  ...                48
2236         0  2013-01-22       99         5  ...                 8
2237         0  2012-03-12       99       185  ...                 5
2238         0  2012-11-29       99       267  ...               165
2239         2  2012-01-09       99       169  ...                 0

      MntGoldProds  NumDealsPurchases  NumWebPurchases  NumCatalogPurchases  \
0              218                  1                4                    4
1               37                  1                7                    3
2               30                  1                3                    2
3                0                  1                1                    0
4               34                  2                3                    1
...            ...                ...              ...                  ...
2235            78                  2                5                    2
2236            16                  1                1                    0
2237            14                  2                6                    1
2238            63                  1                5                    4
2239           144                  1                8                    5

      NumStorePurchases  NumWebVisitsMonth  Response  Complain  Age
0                     6                  1         1         0   54
1                     7                  5         1         0   63
2                     5                  2         0         0   66
3                     2                  7         0         0   57
4                     2                  7         1         0   35
...                 ...                ...       ...       ...  ...
2235                 11                  4         0         0   48
2236                  3                  8         0         0   47
2237                  5                  8         0         0   48
2238                 10                  3         0         0   46
2239                  4                  7         1         0   55

[2234 rows x 23 columns]

## Saving the cleaned data

In [212]:
df.to_excel('Cleaned_Date.xlsx')