# This is the data cleaning Notebok for the project

In [219]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from datetime import datetime

In [220]:
df = pd.read_excel("./marketing_data.xlsx")

## Data Profiling

In [221]:
df.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
Response                 int64
Complain                 int64
dtype: object

## Data Preprocessing

In [222]:
# Converting year of birth into age
current_year = datetime.now().year
df['Age'] = current_year - df['Year_Birth']
print(df[['Age', 'Year_Birth']])
print(df['Age'].unique())

      Age  Year_Birth
0      54        1970
1      63        1961
2      66        1958
3      57        1967
4      35        1989
...   ...         ...
2235   48        1976
2236   47        1977
2237   48        1976
2238   46        1978
2239   55        1969

[2240 rows x 2 columns]
[ 54  63  66  57  35  70  77  45  65  43  55  47  64  58  48  59  68  49
  53  38  52  50  34  37  40  56  69  41  51  46  72  62  60  42  61  67
  44  79  75  76  71  78  39  32  80  73  36  74  30  31  33 131  28  29
 125  81  83  84 124]

In [223]:
# Fixing the format for Dt_customer
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='mixed')
print(df.shape)
df = df[(df['Dt_Customer'].dt.year - df['Year_Birth']) > 18]
print(df.shape)
df['Dt_Customer'] = df['Dt_Customer'].astype(str)
print(df)

(2240, 23)
(2234, 23)
         ID  Year_Birth   Education Marital_Status   Income  Kidhome  \
0      1826        1970  Graduation       Divorced  84835.0        0
1         1        1961  Graduation         Single  57091.0        0
2     10476        1958  Graduation        Married  67267.0        0
3      1386        1967  Graduation       Together  32474.0        1
4      5371        1989  Graduation         Single  21474.0        1
...     ...         ...         ...            ...      ...      ...
2235  10142        1976         PhD       Divorced  66476.0        0
2236   5263        1977    2n Cycle        Married  31056.0        1
2237     22        1976  Graduation       Divorced  46310.0        1
2238    528        1978  Graduation        Married  65819.0        0
2239   4070        1969         PhD        Married  94871.0        0

      Teenhome Dt_Customer  Recency  MntWines  ...  MntSweetProducts  \
0            0  2014-06-16        0       189  ...               189
1            0  2014-06-15        0       464  ...                 0
2            1  2014-05-13        0       134  ...                 2
3            1  2014-11-05        0        10  ...                 0
4            0  2014-08-04        0         6  ...                 0
...        ...         ...      ...       ...  ...               ...
2235         1  2013-07-03       99       372  ...                48
2236         0  2013-01-22       99         5  ...                 8
2237         0  2012-03-12       99       185  ...                 5
2238         0  2012-11-29       99       267  ...               165
2239         2  2012-01-09       99       169  ...                 0

      MntGoldProds  NumDealsPurchases  NumWebPurchases  NumCatalogPurchases  \
0              218                  1                4                    4
1               37                  1                7                    3
2               30                  1                3                    2
3                0                  1                1                    0
4               34                  2                3                    1
...            ...                ...              ...                  ...
2235            78                  2                5                    2
2236            16                  1                1                    0
2237            14                  2                6                    1
2238            63                  1                5                    4
2239           144                  1                8                    5

      NumStorePurchases  NumWebVisitsMonth  Response  Complain  Age
0                     6                  1         1         0   54
1                     7                  5         1         0   63
2                     5                  2         0         0   66
3                     2                  7         0         0   57
4                     2                  7         1         0   35
...                 ...                ...       ...       ...  ...
2235                 11                  4         0         0   48
2236                  3                  8         0         0   47
2237                  5                  8         0         0   48
2238                 10                  3         0         0   46
2239                  4                  7         1         0   55

[2234 rows x 23 columns]

## Filling all null income values

In [224]:
df['Income'].head()

0    84835.0
1    57091.0
2    67267.0
3    32474.0
4    21474.0
Name: Income, dtype: float64

In [225]:
# Graduation = df[df['Education'] == 'Graduation']
# Graduation.head(50)

unique_values = df['Education'].unique()
print(unique_values)

['Graduation' 'PhD' '2n Cycle' 'Master' 'Basic']

In [226]:
Graduation_mean = df[df['Education'] == 'Graduation']
Graduation_mean = Graduation_mean['Income'].mean()
print(Graduation_mean)

52656.84290843806

In [227]:
PhD_mean = df[df['Education'] == 'PhD']
PhD_mean = PhD_mean['Income'].mean()
print(PhD_mean)

56145.31392931393

In [228]:
TwoN_Cycle_mean = df[df['Education'] == '2n Cycle']
TwoN_Cycle_mean = TwoN_Cycle_mean['Income'].mean()
print(TwoN_Cycle_mean)

47488.649746192896

In [229]:
Master_mean = df[df['Education'] == 'Master']
Master_mean = Master_mean['Income'].mean()
print(Master_mean)

52917.53424657534

In [230]:
Basic_mean = df[df['Education'] == 'Basic']
Basic_mean = Basic_mean['Income'].mean()
print(Basic_mean)

20417.30188679245

In [231]:
null_income = df[df['Income'].isnull()]
# null_income = null_income.isnull().sum()
null_income['Income'][null_income['Education'] == 'Graduation'] = Graduation_mean
null_income['Income'][null_income['Education'] == 'PhD'] = PhD_mean
null_income['Income'][null_income['Education'] == '2n Cycle'] = TwoN_Cycle_mean
null_income['Income'][null_income['Education'] == 'Master'] = Master_mean
null_income['Income'][null_income['Education'] == 'Basic'] = Basic_mean
print(null_income)

         ID  Year_Birth   Education Marital_Status        Income  Kidhome  \
134    8996        1957         PhD        Married  56145.313929        2
262    1994        1983  Graduation        Married  52656.842908        1
394    3769        1972         PhD       Together  56145.313929        1
449    5255        1986  Graduation         Single  52656.842908        1
525    8268        1961         PhD        Married  56145.313929        0
590   10629        1973    2n Cycle        Married  47488.649746        1
899   10475        1970      Master       Together  52917.534247        0
997    9235        1957  Graduation         Single  52656.842908        1
1096   4345        1964    2n Cycle         Single  47488.649746        1
1185   7187        1969      Master       Together  52917.534247        1
1213   8720        1978    2n Cycle       Together  47488.649746        0
1312   8557        1982  Graduation         Single  52656.842908        1
1515   2863        1970  Graduation         Single  52656.842908        1
1558   2437        1989  Graduation        Married  52656.842908        0
1693   5250        1943      Master          Widow  52917.534247        0
1804   7281        1959         PhD         Single  56145.313929        0
1858   1612        1981         PhD         Single  56145.313929        1
1863   5079        1971  Graduation        Married  52656.842908        1
1880  10339        1954      Master       Together  52917.534247        0
1967   5798        1973      Master       Together  52917.534247        0
1983   2902        1958  Graduation       Together  52656.842908        1
2139   3117        1955  Graduation         Single  52656.842908        0
2165   7244        1951  Graduation         Single  52656.842908        2
2170   1295        1963  Graduation        Married  52656.842908        0

      Teenhome Dt_Customer  Recency  MntWines  ...  MntSweetProducts  \
134          1  2012-11-19        4       230  ...                37
262          0  2013-11-15       11         5  ...                 2
394          0  2014-02-03       17        25  ...                 0
449          0  2013-02-20       19         5  ...               263
525          1  2013-11-07       23       352  ...                 0
590          0  2012-09-14       25        25  ...                 4
899          1  2013-01-04       39       187  ...                20
997          1  2014-05-27       45         7  ...                 0
1096         1  2014-12-01       49         5  ...                 0
1185         1  2013-05-18       52       375  ...                66
1213         0  2012-12-08       53        32  ...                 4
1312         0  2013-06-17       57        11  ...                 2
1515         2  2013-08-23       67       738  ...                50
1558         0  2013-03-06       69       861  ...                30
1693         0  2013-10-30       75       532  ...               126
1804         0  2013-05-11       80        81  ...                 2
1858         0  2013-05-31       82        23  ...                 2
1863         1  2013-03-03       82        71  ...                 0
1880         1  2013-06-23       83       161  ...                 0
1967         0  2013-11-23       87       445  ...                28
1983         1  2012-03-09       87        19  ...                 2
2139         1  2013-10-18       95       264  ...                 6
2165         1  2014-01-01       96        48  ...                10
2170         1  2013-11-08       96       231  ...                71

      MntGoldProds  NumDealsPurchases  NumWebPurchases  NumCatalogPurchases  \
134             53                 12                7                    2
262              1                  1                1                    0
394              3                  1                1                    0
449            362                  0               27                    0
525             15                  3                6                    1
590             17                  3                3                    0
899             14                  2                4                    2
997              1                  1                1                    0
1096             4                  1                1                    0
1185            96                  7                4                   10
1213            22                  0                0                    0
1312             6                  2                2                    0
1515            20                  6                2                    3
1558            61                  1                6                    5
1693           126                  1                5                    5
1804            39                  1                1                    3
1858             7                  2                3                    0
1863             9                  4                2                    1
1880            24                  2                4                    1
1967            18                  1                2                    4
1983             6                  1                1                    0
2139           147                  3                6                    1
2165             7                  3                2                    1
2170           124                  1                6                    5

      NumStorePurchases  NumWebVisitsMonth  Response  Complain  Age
134                   8                  9         0         0   67
262                   2                  7         0         0   41
394                   3                  7         0         0   52
449                   0                  1         0         0   38
525                   7                  6         0         0   63
590                   3                  8         0         0   51
899                   6                  5         0         0   54
997                   2                  7         0         0   67
1096                  2                  7         0         0   60
1185                  4                  3         0         0   55
1213                  1                  0         0         0   46
1312                  3                  6         0         0   42
1515                 10                  7         0         0   54
1558                 12                  3         0         0   35
1693                 11                  1         1         0   81
1804                  4                  2         0         0   65
1858                  3                  6         0         0   43
1863                  3                  8         0         0   53
1880                  4                  6         0         0   70
1967                  8                  1         0         0   51
1983                  3                  5         0         0   66
2139                  5                  7         0         0   69
2165                  4                  6         0         0   73
2170                  7                  4         0         0   61

[24 rows x 23 columns]

/tmp/ipykernel_5425/1739440520.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  null_income['Income'][null_income['Education'] == 'Graduation'] = Graduation_mean
/tmp/ipykernel_5425/1739440520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == 'Graduation'] = Graduation_mean
/tmp/ipykernel_5425/1739440520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == 'Graduation'] = Graduation_mean
/tmp/ipykernel_5425/1739440520.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  null_income['Income'][null_income['Education'] == 'PhD'] = PhD_mean
/tmp/ipykernel_5425/1739440520.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == 'PhD'] = PhD_mean
/tmp/ipykernel_5425/1739440520.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == 'PhD'] = PhD_mean
/tmp/ipykernel_5425/1739440520.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  null_income['Income'][null_income['Education'] == '2n Cycle'] = TwoN_Cycle_mean
/tmp/ipykernel_5425/1739440520.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == '2n Cycle'] = TwoN_Cycle_mean
/tmp/ipykernel_5425/1739440520.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == '2n Cycle'] = TwoN_Cycle_mean
/tmp/ipykernel_5425/1739440520.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  null_income['Income'][null_income['Education'] == 'Master'] = Master_mean
/tmp/ipykernel_5425/1739440520.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == 'Master'] = Master_mean
/tmp/ipykernel_5425/1739440520.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == 'Master'] = Master_mean
/tmp/ipykernel_5425/1739440520.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  null_income['Income'][null_income['Education'] == 'Basic'] = Basic_mean
/tmp/ipykernel_5425/1739440520.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == 'Basic'] = Basic_mean
/tmp/ipykernel_5425/1739440520.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_income['Income'][null_income['Education'] == 'Basic'] = Basic_mean

In [232]:
df['Income'][df['Income'].isnull()] = null_income['Income']
df.head(50)

/tmp/ipykernel_5425/115620912.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Income'][df['Income'].isnull()] = null_income['Income']
/tmp/ipykernel_5425/115620912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Income'][df['Income'].isnull()] = null_income['Income']

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain,Age
0,1826,1970,Graduation,Divorced,84835.0,0,0,2014-06-16,0,189,...,189,218,1,4,4,6,1,1,0,54
1,1,1961,Graduation,Single,57091.0,0,0,2014-06-15,0,464,...,0,37,1,7,3,7,5,1,0,63
2,10476,1958,Graduation,Married,67267.0,0,1,2014-05-13,0,134,...,2,30,1,3,2,5,2,0,0,66
3,1386,1967,Graduation,Together,32474.0,1,1,2014-11-05,0,10,...,0,0,1,1,0,2,7,0,0,57
4,5371,1989,Graduation,Single,21474.0,1,0,2014-08-04,0,6,...,0,34,2,3,1,2,7,1,0,35

## Saving the cleaned data

In [233]:
df.to_excel('Cleaned_Date.xlsx')