# 5 models same Features

In [54]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from datetime import datetime

In [55]:
df = pd.read_excel('Threshold_Data.xlsx')
df

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,Age,Total_Spent,BuyingPower,HouseHoldMembers,Total_Children,TotalPurchases,Dt_CustomerConverted,SinceEnrolled,CLV,AOV
0,0,1826,1970,Graduation,Single,84835.0,0,0,2014-06-16,0,...,54,1190,84240.0,1,0,15,2014-06-16,3541,5772.315068,79.333333
1,1,1,1961,Graduation,Single,57091.0,0,0,2014-06-15,0,...,63,577,56802.5,1,0,18,2014-06-15,3542,2799.635616,32.055556
2,2,10476,1958,Graduation,Married,67267.0,0,1,2014-05-13,0,...,66,251,67141.5,3,1,11,2014-05-13,3575,1229.212329,22.818182
3,3,1386,1967,Graduation,Together,32474.0,1,1,2014-11-05,0,...,57,11,32468.5,4,2,4,2014-11-05,3399,51.217808,2.750000
4,4,5371,1989,Graduation,Single,21474.0,1,0,2014-08-04,0,...,35,91,21428.5,2,1,8,2014-08-04,3492,435.304110,11.375000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218,2235,10142,1976,PhD,Single,66476.0,0,1,2013-07-03,99,...,48,689,66131.5,2,1,20,2013-07-03,3889,3670.576712,34.450000
2219,2236,5263,1977,n_cycle,Married,31056.0,1,0,2013-01-22,99,...,47,55,31028.5,3,1,5,2013-01-22,4051,305.212329,11.000000
2220,2237,22,1976,Graduation,Single,46310.0,1,0,2012-03-12,99,...,48,309,46155.5,2,1,14,2012-03-12,4367,1848.497260,22.071429
2221,2238,528,1978,Graduation,Married,65819.0,0,0,2012-11-29,99,...,46,1383,65127.5,2,0,20,2012-11-29,4105,7777.006849,69.150000
2222,2239,4070,1969,PhD,Married,94871.0,0,2,2012-01-09,99,...,55,1078,94332.0,4,2,18,2012-01-09,4430,6541.835616,59.888889

In [56]:
selected_columns = [
    'Age',
    'Marital_Status',
    'Education',
    'Income', 
    'Kidhome', 
    'Teenhome',
    'Recency',
    # 'Dt_Customer',
    'MntFishProducts', 
    'MntMeatProducts', 
    # 'MntFruits', 
    # 'MntSweetProducts', 
    'MntWines', 
    'MntGoldProds',
    'NumDealsPurchases',
    'NumWebPurchases',
    # 'NumCatalogPurchases',
    'NumStorePurchases',
    'NumWebVisitsMonth',
    'Total_Children',
    'HouseHoldMembers',
    'Total_Spent',
    # 'BuyingPower',
    # 'TotalPurchases',
    'SinceEnrolled',
    # 'Dt_CustomerConverted',
    'Response',
    'AOV',
    'CLV',
    # 'Complain'
]
df = df[selected_columns]

In [57]:
def one_hot_encode(data, column, suffix=''):
    encoded = pd.get_dummies(data[column], drop_first= True)
    data = data.drop(column, axis = 1)
    data = data.join(encoded, lsuffix='_data', rsuffix='_encoded')
    # data = data.join(encoded)
    return data
df = one_hot_encode(df, 'Marital_Status')
df = one_hot_encode(df, 'Education')

In [58]:
X = df.drop('Response', axis=1)
y = df['Response']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [59]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

# Logistic Regression

In [60]:

clf = LogisticRegression(random_state=0)
clf.fit(X_train, y_train)
train_preds = clf.predict(X_train)
preds = clf.predict(scaler.transform(X_test))

acc = accuracy_score(y_train, train_preds)
prec = precision_score(y_train, train_preds)
rec = recall_score(y_train, train_preds)
f1 = f1_score(y_train, train_preds)
auc = roc_auc_score(y_train, train_preds)

print("Accuracy: %.4f" % acc)
print("Precision: %.4f" % prec)
print("Recall: %.4f" % rec)
print("F1: %.4f" % f1)
print("AUC: %.4f" % auc)

Accuracy: 0.8657
Precision: 0.6117
Recall: 0.2716
F1: 0.3761
AUC: 0.6207

# Naive Bayes

In [61]:
classifier = KNeighborsClassifier(n_neighbors=3, metric='minkowski', p=2)
classifier.fit(X_train, y_train)
preds = classifier.predict(scaler.transform(X_test))

acc = accuracy_score(y_test, preds)
prec = precision_score(y_test, preds)
rec = recall_score(y_test, preds)
f1 = f1_score(y_test, preds)

auc = roc_auc_score(y_test, preds)

print("Accuracy: %.4f" % acc)
print("Precision: %.4f" % prec)
print("Recall: %.4f" % rec)
print("F1: %.4f" % f1)
print("AUC: %.4f" % auc)

Accuracy: 0.8681
Precision: 0.6122
Recall: 0.3030
F1: 0.4054
AUC: 0.6348

# K-Nearest Neighbor

In [62]:
classifier = KNeighborsClassifier(n_neighbors=3, metric='minkowski', p=2)
classifier.fit(X_train, y_train)
preds = classifier.predict(scaler.transform(X_test))

acc = accuracy_score(y_test, preds)
prec = precision_score(y_test, preds)
rec = recall_score(y_test, preds)
f1 = f1_score(y_test, preds)

auc = roc_auc_score(y_test, preds)

print("Accuracy: %.4f" % acc)
print("Precision: %.4f" % prec)
print("Recall: %.4f" % rec)
print("F1: %.4f" % f1)
print("AUC: %.4f" % auc)

Accuracy: 0.8681
Precision: 0.6122
Recall: 0.3030
F1: 0.4054
AUC: 0.6348

# Linear Classification

In [63]:
classifier = SGDClassifier()
classifier.fit(X_train, y_train)
preds = classifier.predict(scaler.transform(X_test))

acc = accuracy_score(y_test, preds)
prec = precision_score(y_test, preds)
rec = recall_score(y_test, preds)
f1 = f1_score(y_test, preds)
auc = roc_auc_score(y_test, preds)

print("Accuracy: %.4f" % acc)
print("Precision: %.4f" % prec)
print("Recall: %.4f" % rec)
print("F1: %.4f" % f1)
print("AUC: %.4f" % auc)

Accuracy: 0.8546
Precision: 0.5227
Recall: 0.2323
F1: 0.3217
AUC: 0.5977

# Support Vector Machine

In [64]:
classifier = svm.SVC()
classifier.fit(X_train, y_train)
preds = classifier.predict(scaler.transform(X_test))

acc = accuracy_score(y_test, preds)
prec = precision_score(y_test, preds)
rec = recall_score(y_test, preds)
f1 = f1_score(y_test, preds)
auc = roc_auc_score(y_test, preds)

print("Accuracy: %.4f" % acc)
print("Precision: %.4f" % prec)
print("Recall: %.4f" % rec)
print("F1: %.4f" % f1)
print("AUC: %.4f" % auc)

Accuracy: 0.8756
Precision: 0.7500
Recall: 0.2424
F1: 0.3664
AUC: 0.6142